# db
MARIADB_ROOT_PASSWORD=${EXAMPLE_ROOT_PW}
MARIADB_DATABASE=${EXAMPLE_DB}
MARIADB_USER=${EXAMPLE_USER}
MARIADB_PASSWORD=${EXAMPLE_PW}

# wordpress
WORDPRESS_DATABASE_HOST=db
WORDPRESS_DATABASE_PORT_NUMBER=3306
WORDPRESS_DATABASE_NAME=${MARIADB_DATABASE}
WORDPRESS_DATABASE_USER=${MARIADB_USER}
WORDPRESS_DATABASE_PASSWORD=${MARIADB_PASSWORD}
